bin/Engine
bin/Engine.dSYM

*.dylib
*.dll
*.exe
*.so

release
release-osx

.depend

.tags*

.DS_Store

*.xcodeproj

*.o

Internal*

*.dot
*.ps

third_party/
build/

.taskStatus

src/Build.hpp

tags

*.pyc

screenshot.bmp

tmp/

*~
*.mk
0/
*.Makefile
